body {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern font stack */
  line-height: 1.6;
  margin: 30px; /* Increased margin */
  background-color: #f9f9f9; /* Softer background */
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50; /* Darker heading */
  margin-bottom: 30px; /* Increased margin */
  font-weight: 600; /* Slightly bolder */
}

#new-note {
  width: 100%;
  height: 180px;  /* Taller textarea */
  padding: 20px; /* Increased padding */
  border: 1px solid #e0e0e0; /* Lighter border */
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 18px; /* Larger font size */
  resize: vertical;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
}

#new-note:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* More prominent shadow on focus */
  border-color: #d0d0d0; /* Slightly darker border on focus */
}


#save-button {
  background-color: #3498db; /* Blue button */
  color: white;
  padding: 12px 20px; /* Increased padding */
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  font-size: 18px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#save-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#notes-list {
  list-style: none;
  padding: 0;
}

.note {
  background-color: white;
  border: 1px solid #e0e0e0; /* Lighter border */
  padding: 20px; /* Increased padding */
  margin-bottom: 20px;
  border-radius: 8px; /* Rounded corners */
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  word-wrap: break-word;
  transition: box-shadow 0.3s ease; /* Add transition for hover effect */
}


.note:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* More defined shadow on hover*/

}

.delete-button {
  position: absolute;
  top: 15px; /* Adjusted position */
  right: 15px; /* Adjusted position */
  padding: 8px 12px; /* Increased padding */
  background-color: #e74c3c; /* Red background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}

.delete-button:hover {
  background-color: #c0392b; /* Darker red on hover */
}

.edit-input {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;

}
